:root {
    --primary-color: #ffd43b;
}

.container-width,
.full-width .ubermenu-nav,
.container,
.row {
    max-width: 1170px
}

.row.row-collapse {
    max-width: 1140px
}

.row.row-small {
    max-width: 1162.5px
}

.row.row-large {
    max-width: 1200px
}

.header-main {
    height: 70px
}

#logo img {
    max-height: 70px
}

#logo {
    width: 156px;
}

.header-top {
    min-height: 30px
}

.transparent .header-main {
    height: 90px
}

.transparent #logo img {
    max-height: 90px
}

.has-transparent+.page-title:first-of-type,
.has-transparent+#main>.page-title,
.has-transparent+#main>div>.page-title,
.has-transparent+#main .page-header-wrapper:first-of-type .page-title {
    padding-top: 90px;
}

.header.show-on-scroll,
.stuck .header-main {
    height: 70px !important
}

.stuck #logo img {
    max-height: 70px !important
}

.header-bottom {
    background-color: #f1f1f1
}

.header-main .nav>li>a {
    line-height: 16px
}

@media (max-width: 549px) {
    .header-main {
        height: 70px
    }

    #logo img {
        max-height: 70px
    }
}

/* Color */
.accordion-title.active,
.has-icon-bg .icon .icon-inner,
.logo a,
.primary.is-underline,
.primary.is-link,
.badge-outline .badge-inner,
.nav-outline>li.active>a,
.nav-outline>li.active>a,
.cart-icon strong,
[data-color='primary'],
.is-outline.primary {
    color: #ffd43b;
}

/* Color !important */
[data-text-color="primary"] {
    color: #ffd43b !important;
}

/* Background Color */
[data-text-bg="primary"] {
    background-color: #ffd43b;
}

/* Background */
.scroll-to-bullets a,
.featured-title,
.label-new.menu-item>a:after,
.nav-pagination>li>.current,
.nav-pagination>li>span:hover,
.nav-pagination>li>a:hover,
.has-hover:hover .badge-outline .badge-inner,
button[type="submit"],
.button.wc-forward:not(.checkout):not(.checkout-button),
.button.submit-button,
.button.primary:not(.is-outline),
.featured-table .title,
.is-outline:hover,
.has-icon:hover .icon-label,
.nav-dropdown-bold .nav-column li>a:hover,
.nav-dropdown.nav-dropdown-bold>li>a:hover,
.nav-dropdown-bold.dark .nav-column li>a:hover,
.nav-dropdown.nav-dropdown-bold.dark>li>a:hover,
.header-vertical-menu__opener,
.is-outline:hover,
.tagcloud a:hover,
.grid-tools a,
input[type='submit']:not(.is-form),
.box-badge:hover .box-text,
input.button.alt,
.nav-box>li>a:hover,
.nav-box>li.active>a,
.nav-pills>li.active>a,
.current-dropdown .cart-icon strong,
.cart-icon:hover strong,
.nav-line-bottom>li>a:before,
.nav-line-grow>li>a:before,
.nav-line>li>a:before,
.banner,
.header-top,
.slider-nav-circle .flickity-prev-next-button:hover svg,
.slider-nav-circle .flickity-prev-next-button:hover .arrow,
.primary.is-outline:hover,
.button.primary:not(.is-outline),
input[type='submit'].primary,
input[type='submit'].primary,
input[type='reset'].button,
input[type='button'].primary,
.badge-inner {
    background-color: #ffd43b;
}

/* Border */
.nav-vertical.nav-tabs>li.active>a,
.scroll-to-bullets a.active,
.nav-pagination>li>.current,
.nav-pagination>li>span:hover,
.nav-pagination>li>a:hover,
.has-hover:hover .badge-outline .badge-inner,
.accordion-title.active,
.featured-table,
.is-outline:hover,
.tagcloud a:hover,
blockquote,
.has-border,
.cart-icon strong:after,
.cart-icon strong,
.blockUI:before,
.processing:before,
.loading-spin,
.slider-nav-circle .flickity-prev-next-button:hover svg,
.slider-nav-circle .flickity-prev-next-button:hover .arrow,
.primary.is-outline:hover {
    border-color: #ffd43b
}

.nav-tabs>li.active>a {
    border-top-color: #ffd43b
}

.widget_shopping_cart_content .blockUI.blockOverlay:before {
    border-left-color: #ffd43b
}

.woocommerce-checkout-review-order .blockUI.blockOverlay:before {
    border-left-color: #ffd43b
}

/* Fill */
.slider .flickity-prev-next-button:hover svg,
.slider .flickity-prev-next-button:hover .arrow {
    fill: #ffd43b;
}

/* Focus */
.primary:focus-visible,
.submit-button:focus-visible,
button[type="submit"]:focus-visible {
    outline-color: #ffd43b !important;
}

/* Background Color */
[data-icon-label]:after,
.secondary.is-underline:hover,
.secondary.is-outline:hover,
.icon-label,
.button.secondary:not(.is-outline),
.button.alt:not(.is-outline),
.badge-inner.on-sale,
.button.checkout,
.single_add_to_cart_button,
.current .breadcrumb-step {
    background-color: #183153;
}

[data-text-bg="secondary"] {
    background-color: #183153;
}

/* Color */
.secondary.is-underline,
.secondary.is-link,
.secondary.is-outline,
.stars a.active,
.star-rating:before,
.woocommerce-page .star-rating:before,
.star-rating span:before,
.color-secondary {
    color: #183153
}

/* Color !important */
[data-text-color="secondary"] {
    color: #183153 !important;
}

/* Border */
.secondary.is-outline:hover {
    border-color: #183153
}

/* Focus */
.secondary:focus-visible,
.alt:focus-visible {
    outline-color: #183153 !important;
}

.success.is-underline:hover,
.success.is-outline:hover,
.success {
    background-color: #63e6be
}

.success-color,
.success.is-link,
.success.is-outline {
    color: #63e6be;
}

.success-border {
    border-color: #63e6be !important;
}

/* Color !important */
[data-text-color="success"] {
    color: #63e6be !important;
}

/* Background Color */
[data-text-bg="success"] {
    background-color: #63e6be;
}

.alert.is-underline:hover,
.alert.is-outline:hover,
.alert {
    background-color: #e70000
}

.alert.is-link,
.alert.is-outline,
.color-alert {
    color: #e70000;
}

/* Color !important */
[data-text-color="alert"] {
    color: #e70000 !important;
}

/* Background Color */
[data-text-bg="alert"] {
    background-color: #e70000;
}

body {
    color: #495057
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading-font {
    color: #183153;
}

body {
    font-size: 100%;
}

@media screen and (max-width: 549px) {
    body {
        font-size: 100%;
    }
}

body {
    font-family: Roboto, sans-serif;
}

body {
    font-weight: 400;
    font-style: normal;
}

.nav>li>a {
    font-family: Roboto, sans-serif;
}

.mobile-sidebar-levels-2 .nav>li>ul>li>a {
    font-family: Roboto, sans-serif;
}

.nav>li>a,
.mobile-sidebar-levels-2 .nav>li>ul>li>a {
    font-weight: 700;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading-font,
.off-canvas-center .nav-sidebar.nav-vertical>li>a {
    font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading-font,
.banner h1,
.banner h2 {
    font-weight: 700;
    font-style: normal;
}

.alt-font {
    font-family: "Dancing Script", sans-serif;
}

.alt-font {
    font-weight: 400 !important;
    font-style: normal !important;
}

a {
    color: #183153;
}

a:hover {
    color: #000000;
}

.tagcloud a:hover {
    border-color: #000000;
    background-color: #000000;
}

.is-divider {
    background-color: #c3c6d1;
}

.footer-1 {
    background-image: url('../../wp-content/uploads/2022/05/hanorder-footer.png');
}

.footer-1 {
    background-color: #183153
}

.absolute-footer,
html {
    background-color: #ffffff
}

.nav-vertical-fly-out>li+li {
    border-top-width: 1px;
    border-top-style: solid;
}

.label-new.menu-item>a:after {
    content: "New";
}

.label-hot.menu-item>a:after {
    content: "Hot";
}

.label-sale.menu-item>a:after {
    content: "Sale";
}

.label-popular.menu-item>a:after {
    content: "Popular";
}